<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h1>Edit Form</h1>
    <form method="post" action="/edit/{{data.id}}">
        {% csrf_token %}
        <label for="Uname">Username:</label>
        <input type="text" value={{data.name}} name="Uname" placeholder="Enter your username"> <br><br>

        <label for="Email">Email id:</label>
        <input type="email" value={{data.email}} name="Email"> <br><br>

        <label for="mob">Mobile No:</label>
        <input type="text" value={{data.mob}} name="mob"><br><br>
       
        <textarea name="msg" id="" cols="30" rows="10">{{data.msg}}</textarea><br><br>

        <input type="submit" value="Edit">

    </form>
</body>
</html>